.user-component__subtitle i {
  font-size: 5px;
  font-weight: 600;
  color: rgba(212, 119, 119, 0.945);
  position: absolute;
  left: 3.5px;
}
.user-component__subtitle div {
  display: flex;
}
.user-component__subtitle span {
  display: block;
  border: 1px solid rgba(212, 119, 119, 0.945);
  border-radius: 50%;
  width: 10px;
  height: 10px;
  position: relative;
  margin-left: 5px;
  margin-top: 3px;
}
.more-screen .icon-row {
  margin-top: 35px;
}
.more-suggestions {
  margin-top: 50px;
  padding-top: 40px;
  border-top: var(--main-border);
}
.more-suggestions__title {
  margin-bottom: 30px;
}
.more-suggestions__icons {
  display: flex;
}
.more-suggestions__icon {
  margin-right: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.more-suggestions__icon-image {
  width: 60px;
  height: 60px;
  background-color: var(--yellow);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
.more-suggestions__icon-image i {
  font-size: 32px;
  color: white;
}
.more-suggestions__icon-image img {
  width: 60px;
  height: 60px;
  border-radius: 10px;
}
